# ---- ENV & Secrets ----
.env
*.env

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle

# ---- Virtual Environment ----
venv/
.venv/
env/
ENV/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- ML / Data ----
data/
datasets/
mlruns/
models/
checkpoints/
*.ckpt
*.pth
*.pt
*.h5
*.joblib
*.npy
*.npz

# ---- Logs ----
logs/
*.log

# ---- Build / Packaging ----
build/
dist/
*.egg-info/

# ---- VSCode ----
.vscode/

# ---- Cache ----
.cache/
temp/
tmp/

# ---- Docker ----
*.tar

# ---- OS Files ----
.DS_Store
Thumbs.db
